*.pickle
*.pyc
*.swp
*.*~
.coverage
/.cache/
/.idea/
/.venv/
/artifacts
/build/
/dist/
/docs/build/
/source/python/ben10.egg-info/
/tmp/
__pycache__
coverage.xml
pylint.out
pytest.xml
