colorama==0.2.5
ftputil==3.0
ruamel.ordereddict==0.4.6
path.py==5.1
pyftpdlib==0.6.0
pytest==2.5.2
pytest-cov==1.6
pytest-localserver==0.3.2
pytest-timeout==0.3
pytest-xdist==1.10
rarfile==2.6
wheel==0.23
