colorama==0.3.1
ftputil==3.0
path.py==5.1
pyftpdlib==0.6.0
pytest-cov==1.6
pytest-localserver==0.3.2
pytest-timeout==0.3
pytest-xdist==1.10
pytest==2.5.2
rarfile==2.6
ruamel.ordereddict==0.4.6
wheel==0.23
