cogapp==2.3
colorama==0.3.3
cov_core==1.15
coverage==3.7.1
faulthandler
ftputil==3.0
py==1.4.26
pyftpdlib==1.4.0
pytest-cov==1.8.1
pytest-localserver==0.3.3
pytest-timeout==0.3
pytest-xdist==1.10
pytest==2.6.4
rarfile==2.7
ruamel.ordereddict==0.4.6
wheel==0.24
mock
